@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  color: #eFeFF3;
  background: linear-gradient(to top right,#0F0104,#14060d),#0f0104;

  display: flex;
  justify-content: center;
  overflow: hidden;
  // box-sizing: border-box;
}

h1 {
  @apply text-4xl font-bold;
}

.animation-slide-fade {
  animation: slideFade .4s;
}

@keyframes slideFade {
  from{
    transform: translateY(-22px);
    opacity: 0.4;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}
